body{
    margin: 0;
}
h1{
    margin-top: 0;
}
.top-container{
    background-color: #D7E9B9;
}
.middle-container{
    height: 200px;
    width: 200px;
    margin-top: 5px;
    background-color: #AAE3E2;
}
.bottom-container{
    height: 200px;
    width: 200px;
    margin-top: 0;
    background-color: #FDEBED;
}